<!DOCTYPE html>

<head>
    {% block head %}

    <title>SCROIDS - {% block title %}{% endblock %}</title>

    <!-- static imports  -->
    <link rel="stylesheet" href="static/style.css">
    <script type="text/javascript" href="static/page.js"></script>

    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    {% endblock %}
</head>

<body>
    <header class="bg-white" style="position: relative; z-index: 10; background-color: transparent;">
        {% block header %}
        <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
            <a href="/" class="text-sm font-semibold leading-6 text-blue-900">← Home Page</a>
        </nav>
        {% endblock %}
    </header>

    <main>
        <!-- Info message from server -->
        {% if info %}
        <div id="msgbox" class="opacity-70 overflow-hidden bg-blue-400 shadow sm:rounded-lg items-center justify-between p-6 lg:px-8"">
            {{info}}
        </div>
        {% endif %}

        <!-- Error message from server -->
        {% if error %}
        <div id="msgbox" class="opacity-70 overflow-hidden bg-red-400 shadow sm:rounded-lg items-center justify-between p-6 lg:px-8"">
            {{error}}
        </div>
        {% endif %}

        {% block main %}

        {% endblock %}
    </main>

    <footer>
        {% block footer %}

        {% endblock %}
    </footer>
</body>